1. Сколько четырехзначных чисел, в которых нет 0, 1 и 2, а все цифры различны?

In [1]:
print(7 * 6 * 5 * 4) # В файле в ответе почему-то указано число 1680...

840

2. Пусть p1, p2, . . . , pn – различные простые числа. Сколько делителей имеет
число m = p1**a1 * p2**a2 * ... * pn**an, где α1, α2, . . . , αn – некоторые натуральные

числа?

In [2]:
print("(a_1 + 1) * (a_2 + 1) * ... * (a_n + 1)") # Где n - количество простых чисел

(a_1 + 1) * (a_2 + 1) * ... * (a_n + 1)

3. На сколько нулей оканчиваются число 200!?

In [3]:
# Общая идея: считаем количество пятёрок в числах от 1 до 200 включительно.
print(200//5 + 1 + 1 + 1 + 1 + 2 + 1 + 1 + 1) # 200//5 - считаем количество пятёрок без учёта, что в одном числе их может быть несколько
                                             # ... + 1 + 1 + 1 + 1 - т.к. в числах 25, 50, 75, 100 по 2-е пятёрки
                                             # ... + 2 - т.к. в числе 125 3-и пятёрки
                                             # ... + 1 + 1 + 1 - т.к. в числах 150, 175, 200 по 2-е пятёрки

49

4. Рассматривается множество всех натуральных чисел из промежутка [1; 1000].
Найдите число элементов массива, представимых в виде суммы куба и квадрата двух натуральных различных чисел, а также вывести сами эти представления.

In [10]:
l = [f"{a}**2 + {b}**3 = {a**2 + b**3}" for b in range(1, 1001) for a in range(1, 1001) if (a != b) and (1 <= a**2 + b**3 <= 1000)]
l_1 = set([row.split('=')[1] for row in l]) # Отбираем только неповторяющиеся значения

print(f"Количество чисел: {len(set(l_1))}") # Ответ снова не совпал с тем, что в файле (там 216). 
                                            # Задачу решала несколько раз, использовала разный код, но ответ всегда 208...

for row in l:
    print(row)

Количество чисел: 208
2**2 + 1**3 = 5
3**2 + 1**3 = 10
4**2 + 1**3 = 17
5**2 + 1**3 = 26
6**2 + 1**3 = 37
7**2 + 1**3 = 50
8**2 + 1**3 = 65
9**2 + 1**3 = 82
10**2 + 1**3 = 101
11**2 + 1**3 = 122
12**2 + 1**3 = 145
13**2 + 1**3 = 170
14**2 + 1**3 = 197
15**2 + 1**3 = 226
16**2 + 1**3 = 257
17**2 + 1**3 = 290
18**2 + 1**3 = 325
19**2 + 1**3 = 362
20**2 + 1**3 = 401
21**2 + 1**3 = 442
22**2 + 1**3 = 485
23**2 + 1**3 = 530
24**2 + 1**3 = 577
25**2 + 1**3 = 626
26**2 + 1**3 = 677
27**2 + 1**3 = 730
28**2 + 1**3 = 785
29**2 + 1**3 = 842
30**2 + 1**3 = 901
31**2 + 1**3 = 962
1**2 + 2**3 = 9
3**2 + 2**3 = 17
4**2 + 2**3 = 24
5**2 + 2**3 = 33
6**2 + 2**3 = 44
7**2 + 2**3 = 57
8**2 + 2**3 = 72
9**2 + 2**3 = 89
10**2 + 2**3 = 108
11**2 + 2**3 = 129
12**2 + 2**3 = 152
13**2 + 2**3 = 177
14**2 + 2**3 = 204
15**2 + 2**3 = 233
16**2 + 2**3 = 264
17**2 + 2**3 = 297
18**2 + 2**3 = 332
19**2 + 2**3 = 369
20**2 + 2**3 = 408
21**2 + 2**3 = 449
22**2 + 2**3 = 492
23**2 + 2**3 = 537
24**2 + 2**3 = 584
25**2 + 2**3 = 633
26**2 + 2**3 = 684
27**2 + 2**3 = 737
28**2 + 2**3 = 792
29**2 + 2**3 = 849
30**2 + 2**3 = 908
31**2 + 2**3 = 969
1**2 + 3**3 = 28
2**2 + 3**3 = 31
4**2 + 3**3 = 43
5**2 + 3**3 = 52
6**2 + 3**3 = 63
7**2 + 3**3 = 76
8**2 + 3**3 = 91
9**2 + 3**3 = 108
10**2 + 3**3 = 127
11**2 + 3**3 = 148
12**2 + 3**3 = 171
13**2 + 3**3 = 196
14**2 + 3**3 = 223
15**2 + 3**3 = 252
16**2 + 3**3 = 283
17**2 + 3**3 = 316
18**2 + 3**3 = 351
19**2 + 3**3 = 388
20**2 + 3**3 = 427
21**2 + 3**3 = 468
22**2 + 3**3 = 511
23**2 + 3**3 = 556
24**2 + 3**3 = 603
25**2 + 3**3 = 652
26**2 + 3**3 = 703
27**2 + 3**3 = 756
28**2 + 3**3 = 811
29**2 + 3**3 = 868
30**2 + 3**3 = 927
31**2 + 3**3 = 988
1**2 + 4**3 = 65
2**2 + 4**3 = 68
3**2 + 4**3 = 73
5**2 + 4**3 = 89
6**2 + 4**3 = 100
7**2 + 4**3 = 113
8**2 + 4**3 = 128
9**2 + 4**3 = 145
10**2 + 4**3 = 164
11**2 + 4**3 = 185
12**2 + 4**3 = 208
13**2 + 4**3 = 233
14**2 + 4**3 = 260
15**2 + 4**3 = 289
16**2 + 4**3 = 320
17**2 + 4**3 = 353
18**2 + 4**3 = 388
19**2 + 4**3 = 425
20**2 + 4**3 = 464
21**2 + 4**3 = 505
22**2 + 4**3 = 548
23**2 + 4**3 = 593
24**2 + 4**3 = 640
25**2 + 4**3 = 689
26**2 + 4**3 = 740
27**2 + 4**3 = 793
28**2 + 4**3 = 848
29**2 + 4**3 = 905
30**2 + 4**3 = 964
1**2 + 5**3 = 126
2**2 + 5**3 = 129
3**2 + 5**3 = 134
4**2 + 5**3 = 141
6**2 + 5**3 = 161
7**2 + 5**3 = 174
8**2 + 5**3 = 189
9**2 + 5**3 = 206
10**2 + 5**3 = 225
11**2 + 5**3 = 246
12**2 + 5**3 = 269
13**2 + 5**3 = 294
14**2 + 5**3 = 321
15**2 + 5**3 = 350
16**2 + 5**3 = 381
17**2 + 5**3 = 414
18**2 + 5**3 = 449
19**2 + 5**3 = 486
20**2 + 5**3 = 525
21**2 + 5**3 = 566
22**2 + 5**3 = 609
23**2 + 5**3 = 654
24**2 + 5**3 = 701
25**2 + 5**3 = 750
26**2 + 5**3 = 801
27**2 + 5**3 = 854
28**2 + 5**3 = 909
29**2 + 5**3 = 966
1**2 + 6**3 = 217
2**2 + 6**3 = 220
3**2 + 6**3 = 225
4**2 + 6**3 = 232
5**2 + 6**3 = 241
7**2 + 6**3 = 265
8**2 + 6**3 = 280
9**2 + 6**3 = 297
10**2 + 6**3 = 316
11**2 + 6**3 = 337
12**2 + 6**3 = 360
13**2 + 6**3 = 385
14**2 + 6**3 = 412
15**2 + 6**3 = 441
16**2 + 6**3 = 472
17**2 + 6**3 = 505
18**2 + 6**3 = 540
19**2 + 6**3 = 577
20**2 + 6**3 = 616
21**2 + 6**3 = 657
22**2 + 6**3 = 700
23**2 + 6**3 = 745
24**2 + 6**3 = 792
25**2 + 6**3 = 841
26**2 + 6**3 = 892
27**2 + 6**3 = 945
28**2 + 6**3 = 1000
1**2 + 7**3 = 344
2**2 + 7**3 = 347
3**2 + 7**3 = 352
4**2 + 7**3 = 359
5**2 + 7**3 = 368
6**2 + 7**3 = 379
8**2 + 7**3 = 407
9**2 + 7**3 = 424
10**2 + 7**3 = 443
11**2 + 7**3 = 464
12**2 + 7**3 = 487
13**2 + 7**3 = 512
14**2 + 7**3 = 539
15**2 + 7**3 = 568
16**2 + 7**3 = 599
17**2 + 7**3 = 632
18**2 + 7**3 = 667
19**2 + 7**3 = 704
20**2 + 7**3 = 743
21**2 + 7**3 = 784
22**2 + 7**3 = 827
23**2 + 7**3 = 872
24**2 + 7**3 = 919
25**2 + 7**3 = 968
1**2 + 8**3 = 513
2**2 + 8**3 = 516
3**2 + 8**3 = 521
4**2 + 8**3 = 528
5**2 + 8**3 = 537
6**2 + 8**3 = 548
7**2 + 8**3 = 561
9**2 + 8**3 = 593
10**2 + 8**3 = 612
11**2 + 8**3 = 633
12**2 + 8**3 = 656
13**2 + 8**3 = 681
14**2 + 8**3 = 708
15**2 + 8**3 = 737
16**2 + 8**3 = 768
17**2 + 8**3 = 801
18**2 + 8**3 = 836
19**2 + 8**3 = 873
20**2 + 8**3 = 912
21**2 + 8**3 = 953
22**2 + 8**3 = 996
1**2 + 9**3 = 730
2**2 + 9**3 = 733
3**2 + 9**3 = 738
4**2 + 9**3 = 745
5**2 + 9**3 = 754
6**2 + 9**3 = 765
7**2 + 9**3 = 778
8**2 + 9**3 = 793
10**2 + 9**3 = 829
11**2 + 9**3 = 850
12**2 + 9**3 = 873
13**2 + 9**3 = 898
14**2 + 9**3 = 925
15**2 + 9**3 = 954
16**2 + 9**3 = 985

5.
а) Найти для n = 3 обратную матрицу Гильберта.
б) Найти матрицу Гильберта для n = 5.

In [40]:
# а)

import math

def hilb(n):
    h = [[0] * n for _ in range(n)]
    
    for i in range(n):
        for j in range(n):
            h[i][j] = 1 / (i + j + 1)
    return h

h = hilb(3)

def obr_hilb(h):
    h_1 = h.copy()
    n = len(h)
    
    for i in range(n):
        for j in range(n):
            h_1[i][j] = (-1)**(i + j + 2) * (i + j + 1) * math.comb(n + i, n - (j + 1)) * math.comb(n + j, n - (i + 1)) * (math.comb(i + j, i))**2
    return h_1

h_1 = obr_hilb(h)

for row in h_1:
    print(f"({' '.join([str(el) for el in row])})")

(9 -36 30)
(-36 192 -180)
(30 -180 180)

In [41]:
# б)

def hilb(n):
    h = [[0] * n for _ in range(n)]
    
    for i in range(n):
        for j in range(n):
            h[i][j] = f"1/{i + j + 1}" if not (i == 0 and j == 0) else '1'
    return h

h = hilb(5)

for row in h:
    print(f"({' '.join(row)})")

(1 1/2 1/3 1/4 1/5)
(1/2 1/3 1/4 1/5 1/6)
(1/3 1/4 1/5 1/6 1/7)
(1/4 1/5 1/6 1/7 1/8)
(1/5 1/6 1/7 1/8 1/9)

6. Используя графические возможности, изобразите матрицу размера n × n для n = 100,
каждая строка которой содержит элементы биномиальных коэффициентовпо модулю 2
(закрашенный «синий» квадратик соответствует 1, «желтый»
закрашенный – 0).

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

n = 100
mtr = np.zeros((n, n))

for i in range(n):
    for j in range(n):
        mtr[i][j] = np.math.comb(i, j) % 2

plt.imshow(mtr, cmap='viridis')

plt.show()

In [ ]:
a = array([